body{
background-image:url(../img/boisFond2.png);
}
a {
  color: #c0392b;
}
a:visited {
  color: #844;
}
.navbar, .dropdown-menu{
background-color:#c0392b;
margin-bottom:0px;
}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
 color: #F7F5F2;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #493604 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #624B0F 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #92752C 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}
.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
border-bottom: 3px solid transparent;
}

.banniere{
color:#c0392b;
height-min:120px;
width:99%;
margin: 0 auto;
margin-top:10px;
background-color:#F7F5F2;
border-top-right-radius:5px;
border-top-left-radius:5px;
font-size:50px;
}
.imgBan{
float:right;
max-height:180px;
}

.navbar-wrapper{
height-min:120px;
position:relative;
}
.contenu{
color:#c0392b;
width:99%;
margin: 0 auto;
padding-top:15px;
background-color:#F7F5F2;

}
footer{
text-align:center;
margin: 0 auto;
padding-top:15px;
padding-bottom:15px;
padding-left:10px;
background-color:#c0392b;
color:#F7F5F2;
border-radius: 5px;
}
.tableau{
    border-collapse: collapse;
color: #c0392b;
}
th{
padding-bottom:20px;
}
.btn.btn-primary{
border:none;
	background-color: #c0392b;
width:250px;
}
.btn.btn-primary:hover{
border:1px solid #c0392b;
	background-color: white;
	color: #c0392b;
width:250px;
}
input, textarea{
 padding:3px;
margin-bottom:7px;
 border:1px solid #c0392b;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
table{
color: #c0392b;
margin-right:15px;
}
.recettePhoto{
max-height: 400px;
max-width :400px;
}
@media screen and (max-width: 400px) {
  p {
    font-size: 60%;
  }
  }
.TableNew{
border-spacing: 5px 10px;
}